.jumbotron {
	background-color:yellow;
	color: black;
	margin-top: 10px;	
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;	
	margin-top: 10px;

}

.btn-reserve{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.body-icon{
	padding-right: 10px;
}.jumbotron {
	background-color:yellow;
	color: black;
	margin-top: 10px;	
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;	
	margin-top: 10px;

}

.btn-reserve{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.body-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

.popover  {
background: tomato!important;
}

.popover.bottom .arrow:after {
  border-bottom-color:tomato;
}