.jumbotron {
  background-color: #a5cc1a;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #a5cc1a;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserve {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.body-icon {
  padding-right: 10px;
}

.jumbotron {
  background-color: #a5cc1a;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #a5cc1a;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserve {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.body-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.popover {
  background: #eb4f28 !important;
}

.popover.bottom .arrow:after {
  border-bottom-color: #eb4f28;
}