$yellow: #a5cc1a;
//$yellow: #129096;
$black: #000000;
$tomato: #eb4f28;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
	background-color: $yellow;
	color: $black;
    @include margenes(10px,0px);
	// margin-top: 10px;	
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
    @include margenes(10px,0px);
	//margin-bottom: 0px;
	//margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;	
    @include margenes(10px,0px);
	//margin-top: 10px;

}

.btn-reserve{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.body-icon{
	padding-right: 10px;
}.jumbotron {
	background-color: $yellow;
	color: $black;
    @include margenes(10px,0px);
	//margin-top: 10px;	
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	//margin-bottom: 0px;
	//margin-top: 10px;
    @include margenes(10px,0px);
}

.card-hotel{
	flex: 1 200px;	
	//margin-top: 10px;
    @include margenes(10px,0px);
}

.btn-reserve{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.body-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

.popover  {
background: $tomato!important;
}

.popover.bottom .arrow:after {
  border-bottom-color: $tomato;
}